<div class="container">
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td><button (click)="deleteRow(user)" class="button btn-warning">Delete</button>
            </tr>
        </tbody>
    </table>
</div>